<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <h1>이름 리스트</h1>
    <td><a href="/">이름 입력창으로 이동</a></td>
    <table>
        <% users.forEach(function (value) { %>
            <tr>
                <td>id : <%= value.num %></td>
                <td>name : <%= value.userName %></td>
                <td><a href="/delete/<%= value.num %>">삭제</a></td>
                <td><a href="/update/<%= value.num %>">수정</a></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>